<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mindscapehq.android.raygun4android.sample"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Raygun Sample App"
                 android:icon="@drawable/icon">

        <meta-data android:name="com.mindscapehq.android.raygun4android.apikey"
                   android:value="pDUt18WQX7pXvQd6Xj8YhA==" />

        <activity android:name="RaygunSampleApp">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest> 
