<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mindscapehq.android.raygun4android.sample"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="Raygun Sample"
                 android:icon="@drawable/icon">

        <meta-data android:name="com.mindscapehq.android.raygun4android.apikey"
                   android:value="PASTE_YOUR_API_KEY_HERE" />
        <service android:name="main.java.com.mindscapehq.android.raygun4android.RaygunPostService"
                 android:exported="false"
                 android:process=":raygunpostservice"/>

        <activity android:name="RaygunSampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 
