<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name="com.raygun.raygun4android.sample.CrashProcessService"
            android:exported="false"
            android:process=":raygun_crash_test" />
        <service
            android:name="com.raygun.raygun4android.sample.CapacityProcessService"
            android:exported="false"
            android:process=":raygun_capacity_test" />
        <service
            android:name="com.raygun.raygun4android.sample.SecondCapacityProcessService"
            android:exported="false"
            android:process=":raygun_capacity_test_2" />
    </application>
</manifest>
